/*All programming by Andrew W. Alban*/

#header {
	width:100%;
	background: linear-gradient(#605e5e,#333232);
	border-bottom:3px solid black;
	color:white;
	padding:10px;
	padding-left:20px;
	position:fixed;
	top:0;
	left:-10px;
}

body {
	padding-left:15px;
	font-family:Helvetica;
}